
<!-- Spend Points Form -->
<div class="row">
    <div class="col-md-3 offset-4">
        <form method="PUT">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <fieldset>
                    {{ form.points.label }}
                    {{ form.points(class = "form-control", placeholder = "Enter Points") }}
                </fieldset>
                <fieldset>
                    {{ form.submit_button(class = "btn btn-dark") }}
                </fieldset>
            </div>
        </form>
    </div>
</div>


